.selected {
  background-color: lightblue;
}

.mts {
  margin-top: 10px;
}

.mbl {
  margin-bottom: 20px;
}

#stat select {
  width: 60px;
}

.race-select {
  display: inline-block;
}
.race-select.race select {
  width: 120px;
}

.race-select.attribute select{
  width: 120px;
}

.race-select-box {
}

.clear {
  clear:both;
}
